.customButton {
    border-radius: var(--default-radius);
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.customButton:active {
    transform: scale(0.96);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.primary {
    color: var(--text-white);
    background-color: var(--bg-blue-400);
}

.ghost {
    color: var(--text-primary-400);
    background-color: var(--bg-blue-500);
}

.outline {
    color: var(--text-primary-500);
    background-color: transparent;
    border: 1px solid #cfd5db;
}

.disabled {
    background-color: #cfd5db;
    color: black;
}
